@use '../../foundation/global' as g;

.c-inner {
	width: 100%;
	margin: auto;
	display: block;
	@include g.breakpoint( tablet ) {
	}
	@include g.breakpoint( pc ) {
		width: 950px;
	}
	@include g.breakpoint( wide ) {
	}
}
