/*
!/wp-content/
/wp-content/*
!/wp-content/themes/
/wp-content/themes/*
!/wp-content/themes/rishry_media/
!/wp-content/themes/rishry_media/*
!/wp-content/themes/rishry_media/styleguide/
!/wp-content/themes/rishry_media/styleguide/*
!/.github
*.map
.sql

!.gitignore
.htaccess
node_modules/
!bundle.js
package-lock.json
wp-config.php
!readme.md
.vscode

#各プラグインは管理対象とするか確認してから含める。

/wp-content/plugins/*
#!/wp-content/plugins/


.DS_Store
Thumbs.db
