<div class="c-frame--brackets"></div>
<div class="c-frame--dent"></div>
<div class="c-frame--ornament--type-a"></div>
<div class="c-frame--ornament--type-b"></div>
<div class="c-frame--ornament--top-bottom"></div>
