<div class="c-bg--stripe" style="width: 100px; height: 100px;"></div>
<div class="c-bg--turquoise-green" style="width: 100px; height: 100px;"></div>
<div class="c-bg--diamond" style="width: 100px; height: 100px;"></div>
<div class="c-bg--white" style="width: 100px; height: 100px;"></div>
<div class="c-bg--spade" style="width: 100px; height: 100px;"></div>

