@use "../../foundation/global" as g;

.c-bg{
	&--stripe{
		background: url( ../images/background/stripe_sp.png );
		@include g.mq( pc ) {
			background: url( ../images/background/stripe_pc.png );
		}
	}
	&--turquoise-green{
		background: g.$bgcolor--turquoise-green;
	}

	&--diamond{
		background: url( ../images/background/diamond_sp.png );
		@include g.mq( pc ) {
			background: url( ../images/background/diamond_pc.png );
		}
	}
	&--white{
		background: g.$bgcolor--white;
	}
	&--spade{
		background: url( ../images/background/spade.png );
		background-repeat: no-repeat;
		background-position: center center;
		background-size: contain;
	}
}
