@use "../../foundation/global" as g;
@use "../../foundation/variables";


.u-mb {
	&--14 {
		margin-bottom: 14px;
	}
	&--30 {
		margin-bottom: 30px;
	}
	&--32{
		margin-bottom: 32px;
	}
	&--36 {
		margin-bottom: 36px;
	}
	&--40 {
		margin-bottom: 40px;
	}
	&--62 {
		margin-bottom: 62px;
	}
	&--66 {
		margin-bottom: 66px;
	}
	&--94 {
		margin-bottom: 94px;
	}

	// PC用
	&--pc--32 {
		@include g.mq( pc ) {
			margin-bottom: 32px;
		}
	}
	&--pc--36 {
		@include g.mq( pc ) {
			margin-bottom: 36px;
		}
	}
	&--pc--57 {
		@include g.mq( pc ) {
			margin-bottom: 57px;
		}
	}
	&--pc--62 {
		@include g.mq( pc ) {
			margin-bottom: 62px;
		}
	}
	&--pc--308 {
		@include g.mq( pc ) {
			margin-bottom: 308px;
		}
	}
}