@use "../../foundation/global" as g;
@use "../../foundation/variables";


.u-mb {
	&--30 {
		margin-bottom: 30px;
	}
	&--32{
		margin-bottom: 32px;
	}
	&--36 {
		margin-bottom: 36px;
	}
	&--40 {
		margin-bottom: 40px;
	}
	&--62 {
		margin-bottom: 62px;
	}
	&--66 {
		margin-bottom: 66px;
	}
	&--94 {
		margin-bottom: 94px;
	}
}