@use "sass:math";
@use "../../foundation/global" as g;

// 使用例
// "u-mb--50" → "margin-bottom: 50px"
@for $i from 1 through 100 {
	.u-mb--#{$i} {
		margin-bottom: ( $i ) + px;
	}
}

// "u-mb--pc--70" → "margin-bottom: 70px"
@for $i from 0 through 500 {
	.u-mb--pc--#{$i} {
		@include g.mq( pc ) {
			margin-bottom: ( $i ) + px;
		}
	}
}

// "u-mt--50" → "margin-top: 50px"
@for $i from 1 through 100 {
	.u-mt--#{$i} {
		margin-top: ( $i ) + px;
	}
}

// "u-mr--pc--50" → "margin-right: 50px"
@for $i from 1 through 100 {
	.u-mr--pc--#{$i} {
		@include g.mq( pc ) {
			margin-right: ( $i ) + px;
		}
	}
}

// "u-ml--pc--50" → "margin-left: 50px"
@for $i from 1 through 100 {
	.u-ml--pc--#{$i} {
		@include g.mq( pc ) {
			margin-left: ( $i ) + px;
		}
	}
}

// ネガティブマージン
// "u-mt--n-60" → "margin-top: -60px"
@for $i from 1 through 100 {
	.u-mt--n-#{$i} {
		margin-top: - ( $i ) + px;
	}
}

// "u-mt--pc--n-60" → "margin-top: -60px"
@for $i from 1 through 150 {
	.u-mt--pc--n-#{$i} {
		@include g.mq( pc ) {
			margin-top: - ( $i ) + px;
		}
	}
}