@use "sass:math"; //math.divを使う上で必要
@use "../../foundation/global" as g;

.c-line {
	&--dot {
		&--bottom {
			border-bottom: 2px dotted #b9a72f;
		}
		// bgにするとドットの間隔が調整可能
		&--bottom--bg {
			background-image : linear-gradient(to right, #b9a72f 2px, transparent 2px);
			background-size: 10px 2px;
			background-repeat: repeat-x;
			background-position: bottom;
		}
	}
	&--ornament {
		position: relative;
		&::before {
			content: "";
			background-image: url( ../images/line-ornament/left.png ),url( ../images/line-ornament/right.png );
			background-position: left bottom, right bottom;
			background-repeat: no-repeat, no-repeat;
			position: absolute;
			bottom: 0;
			height: 12px;
			width: 100%;
		}
		&::after {
			content: "";
			width: calc( 100% - 30px );
			background: #000;
			height: 1px;
			position: absolute;
			right: 0;
			left: 0;
			margin: auto;
			bottom: 6px;
		}
	}
}
