@use "../../foundation/global" as g;

.p-about {
    &__head {
        margin-bottom: 80px;
        @include g.mq( pc ) {
            margin-bottom: 90px;
        }
        .c-font--big {
            color: g.$fontcolor--base;
            line-height: 1.5;
        }
        &.c-decoration--wing-line--under::after {
            bottom: 0;
            @include g.mq( pc ) {
                bottom: -6px;
            }
        }
    }

    &--philosophy {
        line-height: 2;
        margin-bottom: 115px;
        @include g.mq( pc ) {
            margin-bottom: 400px;
        }
        .c-drop-shadow-bg--big--left {
            width: 77vw;
            margin-left: 7.2vw;
            margin-bottom: 122.3px;
        }

        &__head {
            @include g.font-rem( g.$font-size--Lv1--sp);
            line-height: 1.2;
            color: g.$fontcolor--white;
            text-align: center;
            margin-bottom: 98px;
            span {
                display: inline-block;
                background-color: g.$bgcolor--turquoise-green;
                padding: 0 1.5rem;  // 左右に1文字分の余白
            }
        }

        &__text {
            margin-bottom: 34px;
        }
    }

    &--profile {
        line-height: 1.5;
        margin-bottom: 196px;
        @include g.mq( pc ) {
            margin-bottom: 270px;
        }

        &__list {
            &__title {
                @include g.font-rem( g.$font-size--Lv6 );
                line-height: 2;
                span {
                    @include g.font-rem( g.$font-size--Lv2 );
                    margin-left: 10px;
                }
            }
        }
    }
}