@use "../../foundation/global" as g;

.c-drop-shadow-bg {
		position: relative;
		&::before,
		&::after {
			content: "";
			width: 72%;
			height: 74.57%;
			position: absolute;
			background:#6BB7AC;
			@include g.mq( full ) {
				height: calc( 74.57% - 91px );  // 親要素がpadding-bottomで伸びている分を差し引く
			}
			@media (min-width: 1400px) {
				height: calc( 74.57% - 45.5px );
			}
			@media (min-width: 1510px) {
				height: 74.57%;
			}
		}
		&::before {
			opacity: 0.8;
			z-index: -1;
		}
		&::after {
			opacity: 0.3;
			z-index: -2;
			filter: blur( 23px );
		}

	&--right {
		@extend .c-drop-shadow-bg;
		&::before {
			right: -9%;
			bottom: -9%;
			@include g.mq( pc ) {
				right: -6%;
				bottom: -7%;
			}
			@include g.mq( full ) {
				bottom: 17%;
			}
			@media (min-width: 1400px) {
				bottom: 4%;
			}
			@media (min-width: 1510px) {
				bottom: -6%;
			}
		}
		&::after {
			right: -19%;
			bottom: -20%;
			@include g.mq( pc ) {
				right: -12%;
				bottom: -12%;
			}
			@include g.mq( full ) {
				bottom: 6%;
			}
			@media (min-width: 1400px) {
				bottom: -8%;
			}
			@media (min-width: 1510px) {
				bottom: -16%;
			}
		}
	}
}

// 縦長
.c-drop-shadow-bg--big {
	position: relative;
	&::before,
	&::after {
		content: "";
		width: 83%;
		height: 68%;
		position: absolute;
		background:#6BB7AC;
	}
	&::before {
		opacity: 0.8;
		z-index: -1;
	}
	&::after {
		opacity: 0.3;
		z-index: -2;
		filter: blur( 23px );
	}

	&--left{
		@extend .c-drop-shadow-bg--big;
		&::before{
			left: -9%;
			top: 39%;
		}
		&::after{
			left: -19%;
			top: 49%;
		}
	}
}