@use "../../foundation/global" as g;
@use "../../foundation/variables";

.c-bg{
    &--stripe{
        background: url( ../images/bg--stripe__sp.png );
        @include g.mq( pc ) {
            background: url( ../images/bg--stripe__pc.png );
        }
    }
    &--turquoise-green{
        background: variables.$bgcolor--turquoise-green;
    }

    &--diamond{
        background: url( ../images/bg--diamond__sp.png );
        @include g.mq( pc ) {
            background: url( ../images/bg--diamond__pc.png );
        }
    }
}
