@use "../../foundation/global" as g;

.c-bg{
	&--stripe{
		background: url( ../images/background/stripe_sp.png );
		@include g.mq( pc ) {
			background: url( ../images/background/stripe_pc.png );
		}
	}
	&--turquoise-green{
		background: g.$bgcolor--turquoise-green;
	}

	&--diamond{
		background: url( ../images/background/diamond_sp.png );
		background-color: g.$bgcolor--light-green;
		border-top: 32px solid g.$bgcolor--light-green2;
		border-bottom: 32px solid g.$bgcolor--light-green2;
		// vw指定は縦スクロールバーの幅分はみ出すため、bodyに[overflow-x: hidden;]を指定
		margin-right: calc(50% - 50vw); // 親要素を無視して画面幅いっぱいに広げる
		margin-left: calc(50% - 50vw);
		padding-right: calc(50vw - 50%); // 子要素は親要素の幅を維持
		padding-left: calc(50vw - 50%);
		position: relative;
		// z-index: 0; // ブログのキャプションリンクが押せなくなるのでコメントアウト
		@include g.mq( pc ) {
			background: url( ../images/background/diamond_pc.png );
			background-color: g.$bgcolor--light-green;
		}
		@include g.mq( full ) {
			background: none;
			border-top: none;
			border-bottom: 1px solid transparent; // 下の余白を確保するため、noneにはしない
			margin-right: 0;
			margin-left: 0;
			padding-right: 0;
			padding-left: 0;
		}
	}
	&--white{
		background: g.$bgcolor--white;
	}
	&--spade{
		background: url( ../images/background/spade.png );
		background-repeat: no-repeat;
		background-position: center center;
		background-size: contain;
	}
	&--parallax1 {
		width: 96%;
		margin: 0 auto;
		// background-image: url( ../images/background/bg1-left.png ), url( ../images/background/bg1-right.png );
		background-image: url( ../images/background/bg1.png );
		background-repeat: repeat-y;
		// background-position: left 30vh, right top;
		background-position: top;
		background-size: contain;
		position: relative;
		z-index: -3;
		// @include g.mq( pc ) {
		// }
	}
}
