@use "../../foundation/global" as g;

.c-drop-shadow-bg {
		position: relative;
		&::before,
		&::after {
			content: "";
			width: 175px;
			height: 170px;
			position: absolute;
			background:#6BB7AC;
			@include g.mq( pc ) {
			width: 410px;
			height: 396px;
			}
		}
		&::before {
			z-index: -1;
		}
		&::after {
			opacity: 0.3;
			z-index: -2;
			filter: blur( 23px );
		}

	&--right {
		@extend .c-drop-shadow-bg;
		&::before {
			right: -42px;
			bottom: -40px;
			opacity: .7;
		}
		&::after {
			right: -82px;
			bottom: -80px;
		}
	}
	&--left{
		@extend .c-drop-shadow-bg;
		&::before{
			left: -42px;
			bottom: -40px;
		}
		&::after{
			left: -42px;
			bottom: -40px;
		}
	}
}

// 縦長
.c-drop-shadow-bg--big {
	position: relative;
	&::before,
	&::after {
		content: "";
		// width: 241px;  //coni
		width: 82%;  //coni
		// height: 233px;  //coni
		height: 65%;  //coni
		position: absolute;
		background:#6BB7AC;
	}
	&::before {
		z-index: -1;
	}
	&::after {
		opacity: 0.3;
		z-index: -2;
		filter: blur( 23px );
	}

	&--left{
		@extend .c-drop-shadow-bg--big;
		&::before{
			left: -24px;
			bottom: -21px;
			@include g.mq( pc ) {
				bottom: 13%;
			}
			@media (min-width: 768px) and (max-width: 800px) {
				height: 268px;
				bottom: 16%;
			}  // 位置見直す！！！
			@include g.mq( wide ) {
				left: -43.6px;
				// bottom: 5%;
			}
		}
		&::after{
			left: -44px;
			bottom: -41px;
			@include g.mq( pc ) {
				bottom: 44px;
			}
			@include g.mq( wide ) {
				left: -63.6px;
				bottom: -63.5px;
			}
		}
	}
}