@use "../../foundation/global" as g;

.c-frame-circle {
	background-image: url( ../images/top/round-shadow_sp.png );
	background-repeat: no-repeat;
	position: relative;
	width: 167px;
	height: 182px;
	@include g.mq( pc ) {
		background-image: url( ../images/top/round-shadow_pc.png );
		right: 0px;
		bottom: -14px;
		width: 291px;
		height: 318px;
	}
	&::after {
		content: "";
		position: absolute;
		z-index: -1;
		width: 86px;
		height: 86px;
		right: 0px;
		bottom: -29px;
		background: #A39B7C;
		filter: blur( 48px );
		@include g.mq( pc ) {
			width: 150px;
			height: 150px;
		}
	}
}
