@use '../../foundation/global' as g;

// coni 現行より
.c-imgwrap {
	margin-bottom: 10px;
	@include g.hovanime;
	@include g.mq( tb ) {
		margin-bottom: 20px;
	}
	@include g.mq( pc ){
	}
	> a {
		display: block;
	}
	img {
		width: 100%;
		height: auto;
	}
}
