@use '../../foundation/global' as g;

// coni 現行より
.c-img-description {
	dt {
		// font-size: 1.4rem;
		@include g.font-rem( g.$font-size--Lv3 );
		// @include g.mq( tb ) {
		// }
		// @include g.mq( pc ) {
		// 	font-size: 1.6rem;
		// }
	}
	dd {
		// font-size: 1.4rem;
		@include g.font-rem( g.$font-size--Lv2 );
		// @include g.mq( tb ) {
		// }
		// @include g.mq( pc ) {
		// 	font-size: 1.4rem;
		// }
	}
	&__link {
		margin-left: 10px;
		@include g.mq( tb ) {
			margin-left: 0;
		}
	}
	&__link,
	&__title {
		a {
			&:link, &:visited {
				color: #8c8c8c;
				text-decoration: underline;
			}
			&:hover, &:active {
				color: #c1c1c1;
			}
		}
	}
	&__partner {
		width: 100%;
		margin-top: 10px;
		&::after {
			content: "";
			display: block;
			clear: both;
		}
		@include g.mq( tb ) {
			display: flex;
		}
		@include g.mq( pc ) {
		}
		&__title {
			font-size: 1.4rem;
			@include g.mq( tb ) {
			}
			@include g.mq( pc ) {
			}

		}
		&__link {
			font-size: 1.4rem;
			margin-right: 10px;
			float: left;
			&:nth-of-type( 1 ) {
				margin-left: 10px;
				@include g.mq( tb ) {
					margin-left: 0;
				}
			}
			@include g.mq( tb ) {
			}
			@include g.mq( pc ) {
			}
		}
	}
}
