@use "../../foundation/global" as g;
@use "../../foundation/variables";

.c-mark {
	&--rabbit-trumpet {
		display: block;
		background-image: url( ../images/rabbit-icon/body.png );
		background-repeat: no-repeat;
		background-size: 100%;
		background-position: center center;
		width: 54.74px;
		height: 74.26px;
		@include g.mq( pc ) {

		}
	}
	&--megaphone {
		display: block;
		background-image: url( ../images/marketing/megaphone.png );
		background-repeat: no-repeat;
		background-size: 100%;
		background-position: center center;
		width: 57.47px;
		height: 44px;
		@include g.mq( pc ) {

		}
	}
}
