@use "../../foundation/global" as g;
@use "../../foundation/variables";

.c-mark {
	&--rabbit-trumpet {
		display: block;
		background-image: url( '../images/components/icon/rabbit/rabbit__icon--body.png' );
		background-repeat: no-repeat;
		background-size: 100%;
		background-position: center center;
		width: 54.74px;
		height: 74.26px;
		@include g.mq( pc ) {

		}
	}
}
