@use "../../foundation/global" as g;

.c-tilt{
	&--6{
		@include g.mq( pc ) {
		transform: rotate(6deg);
		}
	}
	&--10{
		@include g.mq( pc ) {
		transform: rotate(10deg);
		}
	}
	&--350{
		@include g.mq( pc ) {
		transform: rotate(350deg);
		}
	}
	&--354{
		@include g.mq( pc ) {
		transform: rotate(354deg);
		}
	}
}
