@use "../../foundation/global" as g;

.c-title-decoration {
    display: block;
    &::before {
        vertical-align: middle;
    }
    &-rabbit-body {
        @extend .c-title-decoration;  
        &::before {
            content: url( ../images/rabbit__icon--body_sp.png );
            margin-right: 10px;
            @include g.mq( pc ) {
                content: url( ../images/rabbit__icon--body_pc.png );
            }
        }
    }
    &-rabbit-face {
        @extend .c-title-decoration;
        &::before {
            content: url( ../images/rabbit__icon--face.png );
            margin-right: 20px;
        }
    }
}
.c-title-line{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    &::after{
        content: "";
        background: url( ../images/gold-wing-line.png );
        background-size: contain; 
        background-repeat: no-repeat;
        background-position: center top;
        width: 94px;
        height: 8px;
        position: relative;
        display: inline-block;
        bottom:-16px;
        // left: -94px;
    }
}
