@use '../../foundation/global' as g;

.u-disp {
	&--sp {
		display: block;
		@include g.breakpoint( tablet ) { display: none; }
		@include g.breakpoint( pc ) { display: none; }
		@include g.breakpoint( wide ) { display: none; }
		@include g.breakpoint( full ) { display: none; }
	}
	&--tablet {
		display: none;
		@include g.breakpoint( tablet ) { display: block; }
		@include g.breakpoint( pc ) { display: none; }
		@include g.breakpoint( wide ) { display: none; }
		@include g.breakpoint( full ) { display: none; }
	}
	&--pc {
		display: none;
		@include g.breakpoint( tablet ) { display: none; }
		@include g.breakpoint( pc ) { display: block; }
		@include g.breakpoint( wide ) { display: block; }
		@include g.breakpoint( full ) { display: block; }
	}
	&--wide {
		display: none;
		@include g.breakpoint( tablet ) { display: none; }
		@include g.breakpoint( pc ) { display: none; }
		@include g.breakpoint( wide ) { display: block; }
		@include g.breakpoint( full ) { display: block; }
	}
	&--full {
		display: none;
		@include g.breakpoint( tablet ) { display: none; }
		@include g.breakpoint( pc ) { display: none; }
		@include g.breakpoint( wide ) { display: none; }
		@include g.breakpoint( full ) { display: block; }
	}
}
