@use "../../foundation/global" as g;

.c-bg-arrow {
	&--body {
		background-image: url(../images/site-production/flow-arrow-body_sp.png);
		background-repeat: repeat-y;
		@include g.mq( pc ) {
			background-image: url(../images/site-production/flow-arrow-body_pc.png);
		}
	}
	&--tip {
		background-repeat: no-repeat;
		background-image: url(../images/site-production/flow-arrow-tip_sp.png);
		@include g.mq( pc ) {
			background-image: url(../images/site-production/flow-arrow-tip_pc.png);
		}
	}
}
