<div class="c-tilt--6" style="width:400px; height:400px; background: pink;">傾きテスト</div>
<div class="c-tilt--10" style="width:400px; height:400px; background: blue;">傾きテスト</div>
<div class="c-tilt--350" style="width:400px; height:400px; background: pink;">傾きテスト</div>
<div class="c-tilt--354" style="width:400px; height:400px; background: blue;">傾きテスト</div>
