@use "../../foundation/global" as g;
@use "../../foundation/variables";

.p-bg {
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	position: fixed;
	z-index: -1;
	display: block;
	background-attachment: fixed;
	background-position: center;
	background-repeat: repeat;
	// position: relative;
	z-index: -4;  //coni
	// z-index: 0;  //coni

	// ↓↓ パララックス作成前のコード
	// &::before {
	// 	position: fixed;
	// 	content: '';
	// 	background-image: url( ../images/background/suit.png );
	// 	background-repeat: no-repeat;
	// 	background-size: contain;
	// 	width: 100vw;
	// 	height: 100vh;
	// 	z-index: -3;
	// 	@include g.mq( pc ) {
	// 		background-size: cover;
	// 		width: 100%;
	// 		height: 100%;
	// 	}
	// }
}
