@use "../../foundation/global" as g;
@use "../../foundation/variables";

.p-btn {
	display: block;
	text-align: center;
	margin: 0 auto;
	color: g.$fontcolor--white;
	@include g.font-rem( g.$font-size--Lv4 );
	padding: 30px;
	width: 335px;
	height: 80px;
	@include g.mq( pc ) {
		@include g.font-rem( g.$font-size--Lv8 );
		width: 500px;
		height: 100px;
	}
}

// フロントページの調整
.p-top-article {
	// 「サイト制作について」ボタン
	.p-btn {
		margin-bottom: 200px;
		@include g.mq( full ) {
			margin-bottom: 289px;
		}
	}
	&--advantage {
		// 「お問い合わせはこちらから」ボタン
		.p-btn {
			margin-bottom: 196px;
		}
	}
	&--works {
		// 「制作実績一覧へ」ボタン
		.p-btn {
			margin-bottom: 167px;
		}
	}
	&--about-us {
		// 「会社情報はこちら」ボタン
		.p-btn {
			margin-bottom: 154px;
		}
	}
}