@use "../../foundation/global" as g;
@use "../../foundation/variables";

.p-card {
	&__link {
		&__caption {
			display: flex;
			justify-content: space-between;
			@include g.mq( pc ) {
				display: block;
			}
			&__wrap {
				background: g.$bgcolor--black;
				border: solid 2px g.$border-color--yellow;
				width: 50%;
				@include g.mq( pc ) {
					width: 100%;
				}
				&__img {
					opacity: .7;
				}
			}
			&__text {
				color: g.$fontcolor--base;
				width: 45%;
				@include g.mq( pc ) {
					width: 100%;
					margin-top: 18px;
				}
				&__day {
					display: block;
					margin-bottom: 20px;
					@include g.mq( pc ) {
						margin-bottom: 10px;
					}
				}
				&__title {
					line-height: 2;
				}
			}
		}
		p {
			color: g.$fontcolor--base;
		}
	}
	&--price {
		@include g.mq( pc ) {
			// padding: 60px 50px;
		}
		&__inner {
			&__plan,
			&__plan-other {
				display: flex;
				flex-flow: column;
				text-align: center;
				&__big {
					@include g.font-rem( g.$font-size--Lv3 );
					line-height: 1.5; //coni
					@include g.mq( pc ) {
						@include g.font-rem( g.$font-size--Lv7 );
					}
				}
				&__small {
					margin-top: 7px; //coni
					@include g.font-rem( g.$font-size--Lv1 );
					line-height: 1.5; //coni
					@include g.mq( pc ) {
						margin-top: 10px; //coni
						@include g.font-rem( g.$font-size--Lv2 );
					}
					&.c-font--tiny { //coni
						@include g.font-rem( 10 );
						@include g.mq( pc ) {
							@include g.font-rem( g.$font-size--Lv2 );
						}
					}
				}
			}
			&__plan {
				// padding: 20px;  //変更前
				padding: 15px 0 10px; //coni
				@include g.mq( pc ) {
					padding: 15px 0; //coni
				}
			}
			&__plan-other {
				// padding: 40px 20px;  //変更前
				padding: 25px 0 22px; //coni
				@include g.mq( pc ) {
					padding: 30px 20px;
				}
				@include g.mq( wide-1 ) {
					padding: 20px;
				}
				@include g.mq( wide-2 ) {
					// padding: 40px 20px;  //変更前
					padding: 30.5px 0; //coni
				}
			}
			&__number {
				display: flex;
				justify-content: center;
				align-items: baseline;
				// margin: 30px 0 20px;  //変更前
				margin: 20px 0 14px; //coni
				@include g.mq( pc ) {
					// margin: 60px 0 40px; //変更前
					margin: 40px 0 20px; //coni
				}
			}
			&__text {
				line-height: 1.5; //coni
				padding: 0 6px;
				@include g.mq( pc ) {
					line-height: 2; //coni
				}
			}
		}
	}
	&--blog {
		@include g.font-rem( g.$font-size--Lv3 );
		line-height: 1.8;
		a {
			color: g.$fontcolor--base;
		}
		&__list {
			position: relative;
			margin-bottom: 55px;
			background-color: g.$bgcolor--white;
			border: 2px solid g.$border-color--light-gold;
		}
		&__thumbnail__img {
			opacity: 0.4;
		}
		&__category-list {
			display: flex;
			position: absolute;
			top: 16px;
			left: 10px;
			&__item {
				a {
					display: block;
					padding: 8px 20px 6px;
					margin-right: 12px;
					background-color: g.$border-color--light-gold;
				}
			}
		}
		&__contents {
			padding: 0 12px 15px 15px;
			&__day {
				display: block;
				@include g.font-rem( 17 );
				line-height: 2;
				color: g.$fontcolor--deep-green;
				padding-top: 15px;
			}
			&__title {
				@include g.font-rem( g.$font-size--Lv4 );
				margin-bottom: 38px;
			}
			&__excerpt {
				margin-bottom: 18px;
			}
			&__tags {
				display: flex;
				line-height: 1.5;
				border-top: 1px solid g.$border-color--green;
				.c-mark--tag-icon {
					width: 33px;
				}
			}
		}
		&__tags {
			display: flex;
			flex-wrap: wrap;
			padding: 18px 0 10px;
			gap: 10px;
		}
	}
}
