@use "../../foundation/global" as g;
@use "../../foundation/variables";

.p-card {
	&__link {
		&:hover {
			img {
				transform: scale(1.15,1.15); // マウスオーバーでサムネを拡大
				transition: .5s all;
				opacity: .7;
			}
		}
		&__caption {
			display: flex;
			justify-content: space-between;
			@include g.mq( pc ) {
				display: block;
			}
			&__wrap {
				border: solid 2px g.$border-color--yellow;
				width: 50%;
				@include g.mq( pc ) {
					width: 100%;
				}
				&__inner {
					background: g.$bgcolor--black;
					overflow: hidden; // サムネを拡大したとき、はみ出した部分は非表示
					@include g.mq( pc ) {
						margin: 3px auto; // PCのみ枠線と画像の隙間を空ける
						width: 98%;
						height: auto;
					}
				}
				&__img {
					opacity: .5;
					transition: .5s all;
				}
			}
			&__text {
				color: g.$fontcolor--base;
				width: 45%;
				@include g.mq( pc ) {
					width: 100%;
					margin-top: 15px;
				}
				&__day {
					display: block;
					margin-bottom: 12px;
					@include g.mq( pc ) {
						margin-bottom: 4px;
					}
				}
				&__title {
					line-height: 1.7;
				}
			}
		}
		p {
			color: g.$fontcolor--base;
		}
	}
	&--price {
		&__inner {
			&__plan,
			&__plan-other {
				display: flex;
				flex-flow: column;
				text-align: center;
				&__big {
					@include g.font-rem( g.$font-size--Lv3 );
					line-height: 1.5;
					@include g.mq( pc ) {
						@include g.font-rem( g.$font-size--Lv7 );
					}
				}
				&__small {
					margin-top: 7px;
					@include g.font-rem( g.$font-size--Lv1 );
					line-height: 1.5;
					@include g.mq( pc ) {
						margin-top: 10px;
						@include g.font-rem( g.$font-size--Lv2 );
					}
					&.c-font--tiny {
						@include g.font-rem( 10 );
						@include g.mq( pc ) {
							@include g.font-rem( g.$font-size--Lv2 );
						}
					}
				}
			}
			&__plan {
				padding: 15px 0 10px;
				@include g.mq( pc ) {
					padding: 15px 0;
				}
			}
			&__plan-other {
				padding: 25px 0 22px;
				@include g.mq( pc ) {
					padding: 30px 20px;
				}
				@include g.mq( wide-1 ) {
					padding: 20px;
				}
				@include g.mq( wide-2 ) {
					padding: 30.5px 0;
				}
			}
			&__number {
				display: flex;
				justify-content: center;
				align-items: baseline;
				margin: 20px 0 14px;
				@include g.mq( pc ) {
					margin: 40px 0 20px;
				}
			}
			&__text {
				line-height: 1.5;
				padding: 0 6px;
				@include g.mq( pc ) {
					line-height: 2;
				}
			}
		}
	}
	&--blog {
		@include g.font-rem( g.$font-size--Lv3 );
		line-height: 1.8;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		gap: 40px;
		a {
			color: g.$fontcolor--base;
		}
		// space-betweenで、最後の行を左寄せにするための空要素
		&::after {
			content: "";
			display: none;
			max-width: 335px;
			height: 0;
			@include g.mq( pc ) {
				display: block;
				width: calc( (100% - 40px) / 2 ); // カードの幅と同じ
			}
			@include g.mq( full ) {
				width: calc( (100% - 80px) / 3 );
			}
		}
		@media (min-width: 750px) {
			justify-content: space-between;
			max-width: 710px;  // 真ん中に不自然な余白ができないよう最大幅を指定（カード2枚 + 40px）
		}
		@include g.mq( full ) {
			max-width: 100%;
		}
		&__link {
			&:hover {
				img {
					transform: scale(1.15,1.15); // マウスオーバーでサムネを拡大
					transition: .5s all;
					opacity: .7;
				}
			}
		}
		
		&__list {
			position: relative;
			background-color: g.$bgcolor--white;
			border: 2px solid g.$border-color--light-gold;
			max-width: 335px;
			margin-bottom: 10px;
			@include g.mq( pc ) {
				width: calc( (100% - 40px) / 2 );
			}
			@include g.mq( full ) {
				width: calc( (100% - 80px) / 3 );
			}
		}
		&__thumbnail {
			overflow: hidden; // サムネを拡大したとき、はみ出した部分は非表示
			&__img {
				opacity: .4;
				transition: .5s all;
			}
			&--noimg {
				transition: .5s all;
			}
		}
		&__category-list {
			display: flex;
			flex-wrap: wrap;
			position: absolute;
			top: 16px;
			left: 10px;
			&__item {
				a {
					display: block;
					padding: 8px 20px 6px;
					margin-right: 12px;
					margin-bottom: 10px;
					background-color: g.$border-color--light-gold;
				}
			}
		}
		&__contents {
			padding: 0 12px 15px 15px;
			@include g.mq( pc ) {
				padding: 0 22px 15px 24px;
			}
			&__day {
				display: block;
				@include g.font-rem( 17 );
				line-height: 2;
				color: g.$fontcolor--deep-green;
				padding-top: 15px;
			}
			&__title {
				@include g.font-rem( g.$font-size--Lv4 );
				margin-bottom: 38px;
			}
			&__excerpt {
				margin-bottom: 18px;
			}
			&__tags {
				display: flex;
				line-height: 1.5;
				border-top: 1px solid g.$border-color--green;
				.c-mark--tag-icon {
					width: 33px;
				}
			}
		}
		&__tags {
			display: flex;
			flex-wrap: wrap;
			padding: 18px 0 10px;
			gap: 10px;
		}
	}
}
