@use "../../foundation/global" as g;

.p-go-to-top {
    display: none;
    position: fixed;
    right: 6%;
    bottom: 48px;
    z-index: 1;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
    // @include g.mq( pc ) {
    //     display: block;  // jsで表示させる
    // }
    &__text {
        color: g.$fontcolor--green;
        @include g.font-rem( g.$font-size--Lv3 );
        display: inline-block;
        margin: 0 auto 18px;
    }
    &__icon {
        width: 61.84px;
        height: 61.84px;
        transform: rotate(45deg);
        background-color: g.$fontcolor--green;
        margin: auto;
        &:hover {
            opacity: 0.7;
        }
        &::after {
            content: "";
            display: inline-block;
            width: 100%;
            height: 100%;
            background: url(../images/header-footer/key.png) no-repeat;
            transform: rotate(-45deg);
            background-size: auto;
            background-position: center;
        }
    }
}