@use '../../foundation/global' as g;

// coni 現行より
// 見出し位置をコンテンツ本文の端に合わせる
.p-header {
	&--achievement {
		height: auto;
		position: relative;
		margin: auto;
		@media (min-width: 641px) {
			max-width: 800px;
		}
		@include g.mq( pc ) {
			max-width: 1200px;
		}
		.c-inner {
			width: 100%;
			height: 100%;
			padding: 35px;
			top: 0;
			margin: auto;
			@media (min-width: 641px) {
				padding: 50px;
				margin-bottom: 80px;
			}
			@include g.mq( pc ) {
				padding: 0 100px;
				margin-bottom: 90px;
			}
			@media (min-width: 1300px) {
				padding: 0;
			}
		}
		h2 {
			padding: 0;
			margin: 0;
			@include g.font-rem( g.$font-size--Lv11 );
		}
		a {
			&:link, &:visited {
				color: #8c8c8c;
				text-decoration: underline;
			}
			&:hover, &:active {
				color: #c1c1c1;
			}
		}
		&__url {
			margin-bottom: 27.5px;
			font-family: 'Vollkorn';
			@include g.font-rem( g.$font-size--Lv2 );
			text-decoration: none;
			color: #252522;
			display: inline-block;
		}
		&__tag {
			font-family: 'Vollkorn';
			@include g.font-rem( g.$font-size--Lv2 );
			color: #252522;
		}
		&__date {
			font-family: 'Vollkorn';
			@include g.font-rem( g.$font-size--Lv2 );
			color: #252522;
		}
		.c-img-description__partner {
			@include g.font-rem( g.$font-size--Lv2 );
		}
	}
	&--print {
		@extend .p-header--achievement;
	}
}
