@use "../../foundation/global" as g;
@use "../../object/component/decoration";

.p-header {
    @include g.mq( pc ) {
        margin-bottom: 8.5rem;
    }

    // ハンバーガーボタン
    &__button {
        position: absolute;
        top: 42px;
        right: 20px;
        width: 46px;
        height: 20px;
        // ----- buttonの標準スタイルをリセット
        background-color: transparent;
        border: none;
        cursor: pointer;
        outline: none;
        padding: 0;
        appearance: none;
        // ----------- スタイルリセットここまで
        @include g.mq( pc ) {
            display: none;
        }
        span {
            position: relative;
            display: block;
            width: 46px;
            height: 0.8px; // 真ん中の棒太さ調整
            background-color: #1B1B1B;
            &::before,
            &::after {
                position: absolute;
                left: 0;
                content: "";
                width: 100%;
                height: 1px;
                background-color: #1B1B1B;
            }
            &::before {
                top: -10px;
            }
            &::after {
                top: 10px;
            }
        }
    }

    &__menu {
        display: grid;
        padding-top: 13px;
        @include g.mq( pc ) {
            grid-template-columns: 1fr 310px 1fr;
            padding-top: 30px;
        }
        &__logo {
            order: 1;
            margin-bottom: 70px;
            @include g.mq( pc ) {
                order: 2;
                margin-bottom: 0;
            }
            img {
                width: 128.16px;
                height: auto;
                margin: 0 auto;
                @include g.mq( pc ) {
                    width: 229px;
                }
            }
        }
        .menu {
            margin: 0;
            @include g.mq( pc ) {
                display: flex;
                align-items: flex-end;
                margin: 0 0 10px;
            }
            .menu-item {
                height: 52px;
                line-height: 54.5px;
                padding-left: 7.5px;
                border-bottom: 1px solid g.$border-color--gold;
                @include g.mq( pc ) {
                    height: 1.5em;
                    line-height: 1.5em;
                    padding-left: 0;
                    border-bottom: none;
                }
                a {
                    color: g.$fontcolor--base;
                    display: block;
                    width: auto;
                    text-align: left;
                    @include g.mq( pc ) {
                        min-width: 94px;  // hover時の擬似要素に幅を合わせる
                        display: inline-block;
                        text-align: center;
                    }
                    &::after {
                        opacity: 0;  // 通常時、擬似要素は非表示
                        width: 100%;
                        content: "";
                        @extend %wing-line;
                        position: relative;
                        bottom: -6px;
                    }
                    &:hover {
                        @include g.mq( pc ) {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            flex-direction: column;
                        }
                        &::after {
                            @include g.mq( pc ) {
                                opacity: 1;  // hover時は擬似要素を表示
                            }
                        }
                    }
                }
                &.menu-item-has-children {
                    position: relative;
                    &::after {
                        @include g.mq( pc ) {
                            content: "";
                            background: url( ../images/sub-menu-arrow.png );
                            background-size: contain;
                            background-repeat: no-repeat;
                            background-position: center top;
                            width: 10px;
                            height: 6px;
                            position: absolute;
                            top: 45%;
                            right: 12px;
                        }
                    }
                }
                .sub-menu {
                    display: none;
                }
            }
            .menu-item:not(:last-child) {
                @include g.mq( pc ) {
                    padding-right: 46px;
                }
            }
        }
        // タブレット・SP用メニュー
        #menu-header-menu {
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 1;
            order: 2;
            padding: 44px 20px 62px;
            background-color: g.$bgcolor--white;
            @include g.mq( pc ) {
                display: none;
            }
        }
        // PC用メニュー
        #menu-header-left-menu {
            display: none;
            @include g.mq( pc ) {
                display: flex;
                order: 1;
                justify-content: end;
            }
        }
        #menu-header-right-menu {
            display: none;
            @include g.mq( pc ) {
                display: flex;
                order: 3;
                justify-content: flex-start;
            }
        }
    }
}