@use "../../foundation/global" as g;
@use "../../foundation/variables";

.p-marketing {
    &--intro,
    &--problem,
    &--solution {
        line-height: 2;
    }

    &--intro {
        &__figure {
            img {
                width: 280px;
                height: auto;
                margin: auto;
            }
        }
        &__caption {
            .c-mark--megaphone {
                margin: 52px auto 22px;
            }
            &__head {
                @include g.font-rem( g.$font-size--Lv10 );
                line-height: 1.5;
                text-align: center;
                margin-bottom: 50px;
            }
            &__explanation {
                margin-bottom: 42px;
            }
        }
    }

    &--problem {
        &__figure {
            img {
                margin-bottom: 17px;
            }
        }
        &__caption {
            &__head {
                @include g.font-rem( g.$font-size--Lv7 );
                line-height: 1.5;
                text-align: center;
                margin-bottom: 30px;
            }
            &__list {
                margin-bottom: 60px;
                .c-dot--small {
                    position: relative;
                    padding-left: 18px;
                    &::before {
                        top: 12px;
                        left: 4px;
                    }
                    &:last-of-type {
                        padding-left: 0;
                    }
                }
            }
        }
        &__text {
            margin-bottom: 70px;
        }
    }

    &--solution {
        .c-mark--rabbit-trumpet {
            width: 44.32px;
            height: 60.13px;
            margin-top: 7px;
            margin-right: 10px;
        }
        &__head {
            display: flex;
            @include g.font-rem( g.$font-size--Lv10 );
            line-height: 1.5;
            margin-bottom: 40px;
        }
    }
}