@use "../../foundation/global" as g;

.p-pagination {
    @include g.font-rem( g.$font-size--Lv3 );
	line-height: 2;
    .wp-pagenavi {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        a {
            color: g.$fontcolor--base;
        }
        a,span {
            display: inline-block;
        }
        .current,
        a.page {
            display: none;
            // @include g.mq( pc ) {
			// }
        }
        .previouspostslink {
            margin-right: auto;
            position: relative;
            &::before {
                content: "新しい記事へ";
                text-decoration: underline;
                position: absolute;
                top: 2px;
                left: 16px;
                width: 6rem;
            }
            &:hover::before {
                text-decoration: none;
            }
            // @include g.mq( pc ) {
			// }
        }
        .nextpostslink {
            margin-left: auto;
            position: relative;
            &::before {
                content: "古い記事へ";
                text-decoration: underline;
                position: absolute;
                top: 2px;
                right: 16px;
                width: 5rem;
            }
            &:hover::before {
                text-decoration: none;
            }
            // @include g.mq( pc ) {
			// }
        }
    }
}