@use "../../foundation/global" as g;

.p-photos {
	padding: 0 0 50px;
	@include g.mq( pc ) {
		padding: 0 0 100px;
	}
    
    &__head {
        margin-bottom: 69px;
        @include g.mq( pc ) {
            margin-bottom: 120px;
        }
        .c-font--big {
            color: g.$fontcolor--base;
            line-height: 1.5;
        }
        &.c-decoration--wing-line--under::after {
            bottom: 0;
            @include g.mq( pc ) {
                bottom: -6px;
            }
        }
    }

	&__contents {
		margin: 0 auto 100px;
		z-index: 1;
		@media (min-width: 641px) {
			margin: 40px auto 30px;
		}
		@include g.mq( pc ) {
			margin: 70px auto 240px;
		}
		.p-photos__header {
			width: 100%;
			height: auto;
			margin: 80px auto 70px;
			padding: 90px 0;
			background: url( ../images/photo/bg_wrap.jpg ) no-repeat center center;
			background-size: cover;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-flow: column;
			position: relative;
			@media (min-width: 641px) {
				width: 80%;
				min-height: 700px;
				margin-top: 0;
				padding: 90px;
			}
			@include g.mq( pc ) {
			}
			.inner {
				width: 90%;
				height: 80%;
				background-color: rgba( 0, 0, 0, .6 );
				display: flex;
				justify-content: center;
				align-items: center;
				flex-flow: column;
				position: absolute;
				@media (min-width: 641px) {
					width: 80%;
					height: 80%;
				}
				@include g.mq( pc ) {
					width: 70%;
					height: 70%;
				}
			}
			.headline {
				color: #fff;
				margin: auto;
				font-family: 'Meie Script', cursive;
				font-size: 14.0vw;
				text-align: center;
				left: auto;
				@media (min-width: 641px) {
					padding-right: 20px;
					font-size: 10vw;
				}
				@include g.mq( pc ) {
					font-size: 8vw;
				}
			}
			.description {
				font-family: Vollkorn;
				position: absolute;
				top: 130%;
				@media (min-width: 641px) {
					margin-right: 20px;
					color: #fff;
					top: 70%;
					left: 10%;
				}
				@include g.mq( pc ) {
					margin-right: inherit;
					bottom: -30px;
					top: 75%;
					left: 40%;
					white-space: nowrap;
				}
				.ttl {
					margin-bottom: 18px;
					font-weight: 600;
					// font-size: 3.0rem;
					@include g.font-rem( g.$font-size--Lv10 );
					@media (min-width: 641px) {
						font-size: 3.0vw;
					}
					@include g.mq( pc ) {
						font-size: 2.0vw;
					}
				}
				.data {
					margin: 0 0 18px 0;
					// font-size: 1.4rem;
					@include g.font-rem( g.$font-size--Lv2 );
					@media (min-width: 641px) {
						font-size: 1.4vw;
					}
					@include g.mq( pc ) {
						font-size: 1.0vw;
					}
				}
				.link {
					margin: 0;
					// font-size: 1.4rem;
					@include g.font-rem( g.$font-size--Lv2 );
					@media (min-width: 641px) {
						font-size: 1.4vw;
					}
					@include g.mq( pc ) {
						font-size: 1.0vw;
					}
				}
			}
		}
	}
	.p-form {
		padding-right: 20px;
		padding-left: 20px;
		@include g.mq( pc ) {
			padding-right: 0;
			padding-left: 0;
		}
	}
}