@use "../../foundation/global" as g;

.p-single {
    &__head {
        margin-bottom: 64px;
        @include g.mq( pc ) {
            margin-bottom: 108px;
        }
        .c-font--big {
            color: g.$fontcolor--base;
            line-height: 1.5;
        }
        &.c-decoration--wing-line--under::after {
            bottom: 0;
            @include g.mq( pc ) {
                bottom: -6px;
            }
        }
    }

    &__contents {
        a {
			color: g.$fontcolor--base;
		}
        &__title {
            margin-bottom: 37px;
            @include g.font-rem( g.$font-size--Lv9 );
			line-height: 1.8;
            @include g.mq( pc ) {
                margin-bottom: 18px;
                @include g.font-rem( g.$font-size--Lv15 );
                line-height: 1.44;
            }
        }
        &__inner {
            @include g.mq( pc ) {
                display: flex;
                text-align: center;
            }
        }
        &__day {
            display: block;
            color: g.$fontcolor--deep-green;
            margin-bottom: 14px;
            @include g.font-rem( g.$font-size--Lv4 );
			line-height: 1.9;
            @include g.mq( pc ) {
                margin-right: 20px;
                margin-bottom: 0;
                line-height: 38px;  // テキスト上下中央寄せ
            }
        }
        &__category-list {
			display: flex;
			flex-wrap: wrap;
            margin: 0;
			&__item {
				a {
					display: block;
					padding: 8px 20px 6px;
					margin-right: 12px;
					margin-bottom: 10px;
					background-color: g.$border-color--light-gold;
                    @include g.mq( pc ) {
                        margin-bottom: 0;
                    }
				}
			}
		}
        &__tags {
            margin-bottom: 20px;
            display: flex;
            @include g.font-rem( g.$font-size--Lv3 );
            line-height: 1.5;
            .c-mark--tag-icon {
                width: 33px;
            }
            @include g.mq( pc ) {
                margin-bottom: 54px;
            }
        }
        &__thumbnail__img {
            margin-bottom: 47px;
            @include g.mq( pc ) {
                margin-bottom: 40px;
            }
        }
        &__content {
            margin-bottom: 180px;
            @include g.font-rem( g.$font-size--Lv3 );
            line-height: 2.5;
            @include g.mq( pc ) {
                margin-bottom: 338px;
            }
            h1 {
                @include g.font-rem( g.$font-size--Lv13 );
                line-height: 1.5;
                background-color: g.$bgcolor--light-green;
                padding: 24px 22px 16px;
                margin-bottom: 50px;
                @include g.mq( pc ) {
                    margin-bottom: 40px;
                }
            }
            h2 {
                @include g.font-rem( g.$font-size--Lv11 );
                line-height: 1.5;
                background-color: g.$bgcolor--light-green;
                border-left: 12px solid g.$border-color--green;
                padding: 20px 15px 15px 20px;
                margin-bottom: 50px;
                @include g.mq( pc ) {
                    margin-bottom: 40px;
                }
            }
            h3 {
                @include g.font-rem( g.$font-size--Lv9 );
                line-height: 1.6;
                background-color: g.$bgcolor--light-green;
                outline: 2px dotted g.$border-color--green;
                outline-offset: -9px;
                padding: 19px 14px 18px 12px;
                margin-bottom: 50px;
                @include g.mq( pc ) {
                    margin-bottom: 40px;
                }
            }
            h4 {
                @include g.font-rem( g.$font-size--Lv8 );
                line-height: 1.8;
                border-top: 2px solid g.$border-color--green;
                border-bottom: 2px solid g.$border-color--green;
                padding: 10px 15px;
                margin-bottom: 50px;
                @include g.mq( pc ) {
                    margin-bottom: 40px;
                }
            }
            h5 {
                @include g.font-rem( g.$font-size--Lv6 );
                line-height: 1.8;
                border-bottom: 3px solid g.$border-color--light-green;
                position: relative;
                width: 100%;
                padding-bottom: 2px;
                margin-bottom: 50px;
                @include g.mq( pc ) {
                    margin-bottom: 40px;
                }
                &::before {
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: -2px;
                    width: 24%;
                    height: inherit;
                    border-bottom: 3px solid g.$border-color--green;
                    @include g.mq( pc ) {
                        width: 7.5%;
                    }
                }
            }
            h6 {
                @include g.font-rem( g.$font-size--Lv4 );
                line-height: 2.2;
                font-weight: normal;
                border-bottom: 1px solid g.$border-color--green;
                position: relative;
                padding: 15px 15px 2px;
                margin-bottom: 50px;
                @include g.mq( pc ) {
                    margin-bottom: 40px;
                }
                &::before {
                    content: "";
                    position: absolute;
                    border-bottom: 1px solid g.$border-color--green;
                    width: 100%;
                    left: 0;
                    bottom: -4px;
                }
            }
            p {
                margin-bottom: 42px;
                @include g.mq( pc ) {
                    margin-bottom: 26px;
                }
            }
            img {
                max-width: 100%;
                height: auto;
                margin-bottom: 50px;
                @include g.mq( pc ) {
                    margin-bottom: 40px;
                }
            }
            ol,ul {
                margin: 0 0 50px;
                padding-left: 0;
                ol,ul {
                    padding-left: 4rem;
                }
                @include g.mq( pc ) {
                    margin-bottom: 26px;
                }
            }
            ol {
                li {
                    list-style: decimal inside;
                }
            }
            ul {
                li {
                    list-style: disc inside;
                }
            }
            blockquote {
                background-color: g.$bgcolor--light-green2;
                padding: 114px 22px 30px 26px;
                position: relative;
                margin-bottom: 50px;
                @include g.mq( pc ) {
                    padding: 114px 60px 48px;
                    margin-bottom: 40px;
                }
                p {
                    margin-bottom: 32px;
                    &::before {
                        @include g.font-rem( 221 );
                        line-height: 1;
                        content: "“";
                        position: absolute;
                        width: 55px;
                        height: 44px;
                        left: 0;
                        top: 20px;
                    }
                    @include g.mq( pc ) {
                        margin-bottom: 24px;
                    }
                }
                cite {
                    display: block;
                    width: 82%;
                    margin: 0 0 0 auto;
                    @include g.mq( pc ) {
                        width: 100%;
                        text-align: right;
                        padding-right: 10px;
                    }
                }
            }
            table {
                margin-bottom: 50px;
                background-color: g.$bgcolor--white;
                @include g.mq( pc ) {
                    margin-bottom: 40px;
                }
                td {
                    border: 1px solid #1B1B1B;
                    height: 50px;
                    &:nth-child(1) {
                        width: 26%;
                    }
                }
            }
            .wp-block-buttons {
                margin-bottom: 50px;
                @include g.mq( pc ) {
                    margin-bottom: 40px;
                }
            }
            .wp-block-button__link {
                background-color: g.$fontcolor--green;
                @include g.font-rem( g.$font-size--Lv4 );
            }
            // プラグイン[AddToAny Share Buttons]の設定
            .addtoany_share_save_container {
                text-align: center;  // アイコン中央寄せ
            }
            .addtoany_list a {
                padding: 0 6px  // アイコン間隔
            }
        }
    }
    &__tags {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
}