@use "../../foundation/global" as g;

.p-single {
    &__head {
        margin-bottom: 64px;
        @include g.mq( pc ) {
            margin-bottom: 108px;
        }
        .c-font--big {
            color: g.$fontcolor--base;
            line-height: 1.5;
        }
        &.c-decoration--wing-line--under::after {
            bottom: 0;
            @include g.mq( pc ) {
                bottom: -6px;
            }
        }
    }

    &__contents {
        a {
			color: g.$fontcolor--base;
		}
        &__title {
            margin-bottom: 37px;
            @include g.font-rem( g.$font-size--Lv9 );
			line-height: 1.8;
        }
        &__day {
            display: block;
            color: g.$fontcolor--deep-green;
            margin-bottom: 14px;
            @include g.font-rem( g.$font-size--Lv4 );
			line-height: 1.9;
        }
        &__category-list {
			display: flex;
			flex-wrap: wrap;
            margin: 0;
			&__item {
				a {
					display: block;
					padding: 8px 20px 6px;
					margin-right: 12px;
					margin-bottom: 10px;
					background-color: g.$border-color--light-gold;
				}
			}
		}
        &__tags {
            margin-bottom: 20px;
            display: flex;
            line-height: 1.5;
            .c-mark--tag-icon {
                width: 33px;
            }
        }
        &__thumbnail__img {
            margin-bottom: 47px;
        }
        &__content {
            margin-bottom: 180px;
            @include g.font-rem( g.$font-size--Lv3 );
			line-height: 2.5;
            h1 {
                @include g.font-rem( g.$font-size--Lv13 );
                line-height: 1.5;
                background-color: g.$bgcolor--light-green;
                padding: 24px 22px 16px;
                margin-bottom: 50px;
            }
            h2 {
                @include g.font-rem( g.$font-size--Lv11 );
                line-height: 1.5;
                background-color: g.$bgcolor--light-green;
                border-left: 12px solid g.$border-color--green;
                padding: 20px 15px 15px 20px;
                margin-bottom: 50px;
            }
            h3 {
                @include g.font-rem( g.$font-size--Lv9 );
                line-height: 1.6;
                background-color: g.$bgcolor--light-green;
                outline: 2px dotted g.$border-color--green;
                outline-offset: -9px;
                padding: 19px 14px 18px 12px;
                margin-bottom: 50px;
            }
            h4 {
                @include g.font-rem( g.$font-size--Lv8 );
                line-height: 1.8;
                border-top: 2px solid g.$border-color--green;
                border-bottom: 2px solid g.$border-color--green;
                padding: 10px 15px;
                margin-bottom: 50px;
            }
            h5 {
                @include g.font-rem( g.$font-size--Lv6 );
                line-height: 1.8;
                border-bottom: 3px solid g.$border-color--light-green;
                position: relative;
                width: 100%;
                padding-bottom: 2px;
                margin-bottom: 50px;
                &::before {
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: -2px;
                    width: 24%;
                    height: inherit;
                    border-bottom: 3px solid g.$border-color--green;
                }
            }
            h6 {
                @include g.font-rem( g.$font-size--Lv4 );
                line-height: 2.2;
                font-weight: normal;
                border-bottom: 1px solid g.$border-color--green;
                position: relative;
                padding: 15px 15px 2px;
                margin-bottom: 50px;
                &::before {
                    content: "";
                    position: absolute;
                    border-bottom: 1px solid g.$border-color--green;
                    width: 100%;
                    left: 0;
                    bottom: -4px;
                }
            }
        }
    }
    &__tags {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
}