@use "../../foundation/global" as g;

.p-single {
    &__head {
        margin-bottom: 64px;
        @include g.mq( pc ) {
            margin-bottom: 108px;
        }
        .c-font--big {
            color: g.$fontcolor--base;
            line-height: 1.5;
        }
        &.c-decoration--wing-line--under::after {
            bottom: 0;
            @include g.mq( pc ) {
                bottom: -6px;
            }
        }
    }

    &__contents {
        a {
			color: g.$fontcolor--base;
		}
        &__title {
            margin-bottom: 37px;
            @include g.font-rem( g.$font-size--Lv9 );
			line-height: 1.8;
        }
        &__day {
            display: block;
            color: g.$fontcolor--deep-green;
            margin-bottom: 14px;
            @include g.font-rem( g.$font-size--Lv4 );
			line-height: 1.9;
        }
        &__category-list {
			display: flex;
			flex-wrap: wrap;
            margin: 0;
			&__item {
				a {
					display: block;
					padding: 8px 20px 6px;
					margin-right: 12px;
					margin-bottom: 10px;
					background-color: g.$border-color--light-gold;
				}
			}
		}
        &__tags {
            margin-bottom: 20px;
            display: flex;
            line-height: 1.5;
            .c-mark--tag-icon {
                width: 33px;
            }
        }
        &__thumbnail__img {
            margin-bottom: 47px;
        }
        &__content {
            margin-bottom: 180px;
            @include g.font-rem( g.$font-size--Lv3 );
			line-height: 2.5;
        }
    }
    &__tags {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
}