@use "../../foundation/global" as g;
@use "../../foundation/variables";

.p-site-production {
    &--about,
    &--production-flow,
    &--price,
    &--all-flow {
        line-height: 2;
        h3 {
            @include g.font-rem( g.$font-size--Lv1--sp );
            color: g.$fontcolor--base;
            line-height: 1.5;
            text-align: center;
        }
        .c-decoration--english {
            @include g.font-rem( g.$font-size--Lv2 );
            text-align: center;
            margin-top: -5px;
        }
    }

    &--about {
        margin-bottom: 118px;
        &--intro {
            &__figure {
                img {
                    width: 280px;
                    height: auto;
                    margin: auto;
                    @include g.mq( pc ) {
                        order: 2;
                        width: 44.4%;
                        margin-bottom: 149px;
                    }
                }
                @include g.mq( pc ) {
                    display: flex;
                }
            }
            &__caption {
                .c-mark--device {
                    margin: 52px auto 16px;
                    @include g.mq( pc ) {
                        width: 73px;
                        height: 55.89px;
                        margin: 0 10px 0 0;
                    }
                }
                &__head {
                    @include g.font-rem( g.$font-size--Lv10 );
                    line-height: 1.5;
                    text-align: center;
                    margin-bottom: 50px;
                    @include g.mq( pc ) {
                        display: flex;
                        align-items: center;
                    }
                }
                &__text {
                    margin-top: 42px;
                    margin-bottom: 64px;
                    @include g.mq( pc ) {
                        // width: 84.16%;
                    }
                }
                @include g.mq( pc ) {
                    order: 1;
                }
            }
        }
        &--mark {
            margin: 0 auto 58px;
        }
        &--site-type {
            &__list {
                &__title {
                    @include g.font-rem( g.$font-size--Lv9 );
                    line-height: 1.5;
                    color: g.$fontcolor--brown;
                    display: flex;
                    align-items: center;
                    margin-bottom: 30px;
                }
                &__description:not(:last-child) {
                    &::after {
                        content: url( ../images/site-production/dot-line.png );
                        display: block;
                        width: 292px;
                        height: auto;
                        margin: 54px auto 54px;
                        @include g.mq( pc ) {
                            display: none;
                        }
                    }
                }
            }
        }
    }
    
    &--production-flow {
        margin-bottom: 100px;
        .c-decoration--english {
            margin-bottom: 30px;
        }
        &__wrapper {
            background-color: g.$bgcolor--white;
            padding: 25px 10px;
            .c-frame--ornament--top-bottom {
                padding: 90px 0;
            }
            // 矢印の先端
            &.c-bg-arrow--tip {
                width: auto;  // コンテンツ幅に合わせる
                height: auto;
                background-position: bottom 121px left;  // 矢印がコンテンツ内に食い込むように
            }
        }
        &__flow {
            &__inner {
                position: relative;
                z-index: 1;
            }
            &__title {
                color: g.$fontcolor--brown;
                @include g.font-rem( g.$font-size--Lv7 );
                line-height: 1.5;
                display: flex;
                align-items: center;
                margin-bottom: 26px;
                &__num {
                    @include g.font-rem( g.$font-size--Lv12 );
                    display: inline-block;
                    margin-right: 17px;
                    width: 78px;
                    height: 78px;
                    text-align: center;
                    line-height: 78px;
                }
                //「04 サイトの解析ツール導入」のみビスケットが崩れないよう調整
                &:nth-of-type(4) {
                    span {
                        width: 88px;
                    }
                }
            }
            &__description {
                @include g.font-rem( g.$font-size--Lv2 );
                padding: 0 10px;
                margin-bottom: 37px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
            .c-bg-arrow--body {
                position: absolute;
                top: 0;
                left: -10px;
                height: 97%;  // 矢印先端部分を考慮して短く
                z-index: -1;
            }
        }
    }
}