@use "../../foundation/global" as g;
@use "../../foundation/variables";

.p-site-production {
    &--about,
    &--production-flow,
    &--price,
    &--all-flow {
        line-height: 2;
        h3 {
            @include g.font-rem( g.$font-size--Lv1--sp );
            color: g.$fontcolor--base;
            line-height: 1.5;
            text-align: center;
            @include g.mq( pc ) {
                @include g.font-rem( g.$font-size--Lv15 );
            }
        }
        .c-decoration--english {
            @include g.font-rem( g.$font-size--Lv2 );
            text-align: center;
            margin-top: -5px;
            @include g.mq( pc ) {
                @include g.font-rem( g.$font-size--Lv3 );
            }
        }
    }

    &--about {
        margin-bottom: 118px;
        @include g.mq( pc ) {
            margin-bottom: 50px;
        }
        &--intro {
            &__figure {
                img {
                    width: 280px;
                    height: auto;
                    margin: auto;
                    @include g.mq( pc ) {
                        order: 2;
                        width: 44.4%;
                        margin-top: -60px;
                        margin-bottom: 80px;
                    }
                }
                @include g.mq( pc ) {
                    display: flex;
                }
            }
            &__caption {
                .c-mark--device {
                    margin: 52px auto 16px;
                    @include g.mq( pc ) {
                        width: 73px;
                        height: 55.89px;
                        margin: 0 10px 0 0;
                    }
                }
                &__head {
                    @include g.font-rem( g.$font-size--Lv10 );
                    line-height: 1.5;
                    text-align: center;
                    margin-bottom: 50px;
                    @include g.mq( pc ) {
                        @include g.font-rem( g.$font-size--Lv14 );
                        display: flex;
                        align-items: center;
                    }
                }
                &__text {
                    margin-top: 42px;
                    margin-bottom: 64px;
                }
                @include g.mq( pc ) {
                    order: 1;
                    margin-right: 95px;
                }
            }
        }
        &--mark {
            margin: 0 auto 58px;
            @include g.mq( pc ) {
                margin-bottom: 115px;
            }
        }
        &--site-type {
            &__list {
                @include g.mq( pc ) {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                }
                &__wrapper {
                    // SP版：最後のdot-lineは非表示
                    &:last-of-type {
                        dd::after {
                            display: none;
                        }
                    }
                    // PC版：奇数番目のdiv
                    &:nth-of-type(odd) {
                        @include g.mq( pc ) {
                            width: 50%;
                            padding-right: 4%;
                        }
                    }
                    // PC版：偶数番目のdiv
                    &:nth-of-type(even) {
                        @include g.mq( pc ) {
                            width: 50%;
                            margin-bottom: 158px;
                            padding-left: 4%;
                            background-image : linear-gradient(to bottom, #b9a72f 2px, transparent 2px);
                            background-size: 2px 10px;
                            background-repeat: repeat-y;
                            background-position: left top;
                            height: 100%;
                        }
                    }
                }
                &__title {
                    @include g.font-rem( g.$font-size--Lv9 );
                    line-height: 1.5;
                    color: g.$fontcolor--brown;
                    display: flex;
                    align-items: center;
                    margin-bottom: 30px;
                }
                &__description {
                    &::after {
                        content: url( ../images/site-production/dot-line.png );
                        display: block;
                        width: 292px;
                        height: auto;
                        margin: 54px auto 54px;
                        @include g.mq( pc ) {
                            display: none;
                        }
                    }
                }
            }
        }
    }
    
    &--production-flow {
        margin-bottom: 100px;
        @include g.mq( pc ) {
            margin-bottom: 200px;
        }
        .c-decoration--english {
            margin-bottom: 30px;
            @include g.mq( pc ) {
                margin-bottom: 70px;
            }
        }
        &__wrapper {
            background-color: g.$bgcolor--white;
            padding: 25px 10px;
            @include g.mq( pc ) {
                padding: 52px 82px;
            }
            .c-frame--ornament--top-bottom {
                padding: 90px 0;
                @include g.mq( pc ) {
                    padding: 141px 0;
                }
            }
            // 矢印の先端
            &.c-bg-arrow--tip {
                width: auto;  // コンテンツ幅に合わせる
                height: auto;
                background-position: bottom 121px left;  // 矢印がコンテンツ内に食い込むように
                @include g.mq( pc ) {
                    background-position: bottom 176px left 42px;
                }
            }
        }
        &__flow {
            &__inner {
                position: relative;
                z-index: 1;
            }
            &__title {
                color: g.$fontcolor--brown;
                @include g.font-rem( g.$font-size--Lv7 );
                line-height: 1.5;
                display: flex;
                align-items: center;
                margin-bottom: 26px;
                @include g.mq( pc ) {
                    @include g.font-rem( g.$font-size--Lv13 );
                }
                &__num {
                    @include g.font-rem( g.$font-size--Lv12 );
                    display: inline-block;
                    margin-right: 17px;
                    width: 78px;
                    height: 78px;
                    text-align: center;
                    line-height: 78px;
                    @include g.mq( pc ) {
                        @include g.font-rem( 70 );
                        width: 128px;
                        height: 128px;
                        line-height: 128px;
                    }
                }
                // SP版：「04 サイトの解析ツール導入」のみビスケットが崩れないよう調整
                &:nth-of-type(4) {
                    span {
                        width: 88px;
                        @include g.mq( pc ) {
                            width: 128px;
                        }
                    }
                }
            }
            &__description {
                @include g.font-rem( g.$font-size--Lv2 );
                padding: 0 10px;
                margin-bottom: 37px;
                @include g.mq( pc ) {
                    margin-bottom: 50px;
                }
                &:last-child {
                    margin-bottom: 0;
                }
                @include g.mq( pc ) {
                    @include g.font-rem( g.$font-size--Lv3 );
                    width: 96%;
                    margin-right: 0;
                    margin-left: auto;
                }
            }
            .c-bg-arrow--body {
                position: absolute;
                top: 0;
                left: -10px;
                height: 97%;  // 矢印先端部分を考慮して短く
                z-index: -1;
                @include g.mq( pc ) {
                    left: -39px;
                }
            }
        }
    }

    &--price {
        .c-decoration--english {
            margin-bottom: 46px;
            @include g.mq( pc ) {
                margin-bottom: 76px;
            }
        }
		&__list {
			margin-bottom: 96px;
			@include g.mq( pc ) {
				margin-bottom: 150px;
				display: grid;
				grid-template-columns: 1fr 1fr;
				grid-template-rows: 1fr 1fr;
				gap: 30px 60px;
				height: 100%;
			}
			&__item {
                margin-bottom: 20px;
				@include g.mq( pc ) {
					display: flex;
					align-items: stretch;
				}
			}
		}
	}

    &--all-flow {
        margin-bottom: 100px;
        .c-decoration--english {
            margin-bottom: 39px;
        }
        &__wrapper {
            background-color: g.$bgcolor--white;
            padding: 10px 10px;
            @include g.font-rem( g.$font-size--Lv2 );
            .c-frame--ornament--top-bottom {
                padding: 90px 0 35px;
            }
        }
        &__list {
            counter-reset : cnt 0;  // CSSカウンタを0に初期化
            &__item {
                display: flex;
                position: relative;
                &:last-child {
                    .c-line--dot--left--bg {
                        height: 60%;
                    }
                }
                .c-decoration--diamond:before {
                    counter-increment: cnt 1;  // CSSカウンタは1ずつ増加
                    content: counter(cnt);     // 表示形式
                    display: inline-block;
                    @include g.font-rem( g.$font-size--Lv10 );
                    color: g.$fontcolor--white;
                    position: absolute;
                    top: 5px;
                    left: 19px;
                    z-index: 1;
                }
            }
            &__description {
                width: calc( 100% - 67px );
                margin-bottom: 65px;
            }
        }
    }
}