@use "../../foundation/global" as g;
@use "../../foundation/variables";

.p-top-article {
	&--mv {
		position: relative;
		margin-bottom: 32px;
		width: 100%;
		min-height: 419.82px;
		background-image: url( ../images/top/curtain-left-sp.png ),url(  ../images/top/curtain-right-sp.png ),url( ../images/top/mainvisual-sp_2x.jpg );
		background-size: auto, auto, cover;
		background-position: left top 10px, right top 10px, center center;
		background-repeat: no-repeat;
		display: flex;
		align-items: flex-end;
		justify-content: center;
		@include g.mq( pc ) {
			margin: 0 auto 120px;
			max-width: 86%;
			background-image: url( ../images/top/curtain-left-pc.png ),url(  ../images/top/curtain-right-pc.png ),url( ../images/top/mainvisual-pc_2x.jpg );
			background-position: left top, right top, center center;
			min-height: 785.23px;
		}
		@media (min-width: 1800px) {
			width: 78%;
		}
		// メインビジュアル上下の黒帯（sp～tbのみ）
		&::before {
			content: "";
			display: block;
			width: 100%;
			height: 10px;
			background-color : #000000;
			position: absolute;
			left: 0;
			top: 0;
			@include g.mq( pc ) {
				display: none;
			}
		}
		&::after {
			content: "";
			display: block;
			width: 100%;
			height: 10px;
			background-color : #000000;
			position: absolute;
			left: 0;
			bottom: 0;
			@include g.mq( pc ) {
				display: none;
			}
		}
		&__text {
			@include g.font-rem( g.$font-size--Lv6 );
			line-height: 1.5;
			color: g.$fontcolor--white;
			text-shadow: 0px 1px 3px #000000;
			margin-bottom: 24px;
			@include g.mq( pc ) {
				@include g.font-rem( g.$font-size--Lv13 );
				margin-bottom: 56px;
			}
			.u-br--sp {
				display: block;
				@include g.mq( full ) {
					display: none;
				}
			}
		}
		// メインビジュアル下の飾り線
		span {
			&::after {
				content: "";
				display: block;
				width: 100%;
				height: 2px;
				background-color : g.$bgcolor--turquoise-green;
				position: absolute;
				left: 0;
				bottom: -9px;
			}
		}
	}
	&--about {
		&__head {
			color: g.$fontcolor--white;
			text-align: center;
			.u-br--sp {
				display: block;
				@include g.mq( full ) {
					display: none;
				}
			}
			&__text {
				display: inline-block;
				background: linear-gradient( transparent 10%, g.$bgcolor--turquoise-green 0% );
				width: 100%;
				line-height: 1.7;
				@include g.mq( pc ) {
					line-height: 2.125;
					background: linear-gradient( transparent 5%, g.$bgcolor--turquoise-green 0% );
					display: inline;
					padding: 5px 20px;
				}
				&:nth-of-type( 2 ) {
					@include g.mq( pc ) {
						padding-right: 2px;
					}
				}
				&:nth-of-type( 3 ) {
					@include g.mq( pc ) {
						padding-left: 0;
					}
				}
			}
		}

		&__explanation {
			line-height: 1.7;
			padding: 120px 0;
			@include g.mq( pc ) {
				width: 95%;
				margin: 0 auto;
			}
			@include g.mq( wide-2 ) {
				width: 100%;
				text-align: center;
				margin: 0 auto;
				padding: 60px 60px 70px;
			}
			@include g.mq( full ) {
				padding-bottom: 130px;
			}
			@media (min-width: 1400px) {
				padding-bottom: 185px;
			}
			&::before {
				top: 60px;
				@include g.mq( wide-2 ) {
					left: 20px;
				}
			}
			&::after {
				bottom: 60px;
				@include g.mq( wide-2 ) {
					bottom: auto;
					top: 60px;
					right: 20px;
				}
			}
		}
	}

	&--advantage {
		&__parallel {
			margin-bottom: 90px;
			@include g.mq( pc ) {
				width: 95%;
				margin: 0 auto 90px
			}
			@media (min-width: 1100px) {
				width: 100%;
			}
			@include g.mq( full ) {
				display: flex;
				margin-bottom: 74px;
			}
			.c-drop-shadow-bg--right {
				width: 64vw;
				max-width: 568px;
				margin-left: 10vw;
				@media (min-width: 500px) {
					margin-left: 13vw;
				}
				@include g.mq( pc ) {
					margin-left: 15vw;
				}
				@media (min-width: 900px) {
					margin-left: 17vw;
				}
				@include g.mq( wide ) {
					margin-left: 19vw;
				}
				@include g.mq( full ) {
					order: 2;
					width: 40%;
					margin-left: 0;
				}
				@media (min-width: 1400px) {
					width: 45%;
					margin-right: -210px;
				}
				@media (min-width: 1510px) {
					width: 50%;
				}
			}
			&__text {
				margin-top: 60px;
				@include g.mq( pc ) {
					margin-top: 64px;
				}
				@include g.mq( full ) {
					order: 1;
					width: 63%;
					margin-top: 26px;
				}
				&__head {
					.c-mark--rabbit-trumpet {
						margin: 0 12px 20px 0;
					}
					@include g.font-rem( g.$font-size--Lv7 );
				}
				&__list {
					@include g.mq( full ) {
						line-height: 1.75;
						padding-top: 14px;
						padding-bottom: 91px;  // 背景のスペードを大きくするための余白
					}
					.c-font--middle {
						line-height: 2;
						position: relative;
						margin-bottom: 30px;
						padding-left: 18px;
						&::before {
							top: 12px;
							left: 6px;
						}
						&:last-of-type {
							margin-bottom: 0;
						}
						@include g.mq( pc ) {
							line-height: 1.75;
							margin-bottom: 0;
						}
					}
				}
				.c-bg--spade {
					background-position: center 42%;
					margin: 0;
				}
			}
		}

		&__forte {
			margin-bottom: 90px;
			@include g.mq( pc ) {
				width: 95%;
				margin: 0 auto 164px;
				line-height: 2;
			}
			@media (min-width: 1100px) {
				width: 100%;
			}
			&__head {
				@include g.font-rem( g.$font-size--Lv7 );
				margin-bottom: 32px;
			}
			.c-font--general {
				line-height: 2;
				word-break: break-all;
			}
		}

		&__btn {
			margin-bottom: 196px;
		}
	}

	&--works {
		margin-bottom: 100px;
	}

	&--blog {
		padding: 60px 0 179px 0;
		@include g.mq( pc ) {
			max-width: 1080px;
			margin: 0 auto;
		}
		a {
			cursor: pointer;
		}
		&__head {
			margin-bottom: 75px;
			@include g.mq( pc ) {
				margin-bottom: 90px;
			}
		}
		&__list {
			@include g.mq( pc ) {
				display: grid;
				grid-template-columns: 1fr 1fr 1fr;
				gap: 30px;
			}
			&__item {
				margin-bottom: 22px;
				@include g.mq( pc ) {
					max-width: 340px; // (1080px - 30px - 30px) ÷ 3
				}
			}
		}
	}

	&--about-us {
		padding-top: 35px;
		margin-bottom: 112px;
		background-color: g.$bgcolor--light-green;
		border-top: 30px solid g.$bgcolor--light-green2;
		border-bottom: 30px solid g.$bgcolor--light-green2;
		margin-right: calc(50% - 50vw); // 親要素を無視して画面幅いっぱいに広げる
		margin-left: calc(50% - 50vw);
		padding-right: calc(50vw - 50%); // 子要素は親要素の幅を維持
		padding-left: calc(50vw - 50%);
		position: relative;
		@include g.mq( pc ) {
		}
		&__head {
			margin-bottom: 66px;
			@include g.mq( pc ) {
			}
		}
		&__wrap {
			background-color: g.$bgcolor--white;
			padding: 7px;
			margin-bottom: 110px;
		}
		&__list {
			margin: 0;
			padding: 98px 33px;
			background-color: g.$bgcolor--white;
			&__item {
				@include g.font-rem( g.$font-size--Lv2 );
				line-height: 2;
			}
		}
		&__btn {
			margin-bottom: 154px;
		}
		&__img {
			width: 158.45px;
			position: absolute;
			bottom: -45px;
			left: 50%;
			transform: translateX(-50%);
		}
	}
}
