@use "../../foundation/global" as g;

.p-works-archive {
	padding: 0 0 50px;
	@include g.mq( pc ) {
		padding: 0 0 100px;
	}
    
    &__head {
        margin-bottom: 69px;
        @include g.mq( pc ) {
            margin-bottom: 108px;
        }
        .c-font--big {
            color: g.$fontcolor--base;
            line-height: 1.5;
        }
        &.c-decoration--wing-line--under::after {
            bottom: 0;
            @include g.mq( pc ) {
                bottom: -6px;
            }
        }
    }

    .headline {
		margin-left: -16px;
		// font-size: 6.0rem;
		@include g.font-rem( g.$font-size--Lv2--tablet );
		font-family: 'Meie Script', cursive;
		font-weight: 400;
		position: absolute;
		left: 0;
		@media (min-width: 641px) {
			font-size: 10vw;
		}
		@include g.mq( pc ) {
		}
		@include g.mq( wide ) {
		}
		span {
			margin-left: -10px;
			@include g.mq( pc ) {
				margin-left: -20px;
			}
			@include g.mq( wide ) {
			}
		}
	}
	.c-inner {
		width: auto;
		margin: auto;
		@include g.mq( wide ) {
			width: 1080px;
		}
	}
	&__header {
		height: 280px;
		margin-bottom: 20px;
		position: relative;
		@media (min-width: 641px) {
			height: 300px;
			margin-bottom: 0;
		}
		@include g.mq( pc ) {
			height: 400px;
		}
		@include g.mq( wide ) {
		}
		.description {
			top: 100px;
			right: 0;
			left: 0;
			position: absolute;
			font-family: 'Vollkorn', serif;
			@media (min-width: 641px) {
				width: 57%;
				top: 100px;
				left: inherit;
			}
			@include g.mq( pc ) {
				width: inherit;
				top: 150px;
				right: inherit;
				left: 55%;
			}
			@include g.mq( wide ) {
			}
			> .title {
				margin-bottom: 20px;
				// font-size: 3.0rem;
				@include g.font-rem( g.$font-size--Lv10 );
				font-weight: bold;
				line-height: 1;
				@media (min-width: 641px) {
				}
				@include g.mq( pc ) {
					font-size: 3vw;
					white-space: nowrap;
				}
				@include g.mq( wide ) {
				}
			}
			> .text {
				// font-size: 1.4rem;
				@include g.font-rem( g.$font-size--Lv2 );
				margin-left: 0;
				@media (min-width: 641px) {
				}
				@include g.mq( pc ) {
					font-size: 1vw;
					white-space: nowrap;
				}
				@include g.mq( wide ) {
				}
			}
		}
	}
	&--print {
		@extend .p-works-archive;
		padding: 10px 50px 50px;
		@media (min-width: 641px) {
		}
		@include g.mq( pc ) {
			padding: 10px 50px 100px;
		}
		.c-inner {
			width: auto;
			margin: -20px auto 0;
			padding: 0;
			@include g.mq( wide ) {
				max-width: 1280px;
			}
		}
		.headline {
			// font-size: 5.0rem;
			@include g.font-rem( g.$font-size--Lv20 );
			margin-left: 0;
			@media (min-width: 641px) {
				margin-left: 25px;
				font-size: 10vw;
			}
			@include g.mq( pc ) {
			}
			span {
				margin-left: -30px;
				@media (min-width: 641px) {
				}
			}
		}
		.p-works-archive__header {
			height: 190px;
			margin-bottom: 50px;
			@media (min-width: 641px) {
				margin-bottom: 80px;
			}
			@include g.mq( pc ) {
				height: 250px;
			}
			@include g.mq( full ) {
				margin-bottom: 160px;
			}
			.description {
				@media (min-width: 641px) {
					top: 150px;
				}
				@include g.mq( pc ) {
					top: 200px;
					left: 55%;
				}
				@include g.mq( full ) {
					top: 250px;
				}
				> .title {
					@include g.mq( pc ) {
						font-size: 2.5vw;
					}
				}
			}
		}
		.c-img-description__title {
			@media (min-width: 641px) {
				// font-size: 1.2rem;
				@include g.font-rem( g.$font-size--Lv1 );
			}
		}
		.c-img-description__link {
			// font-size: 1rem;
			@include g.font-rem( 10 );
		}
	}
	&--photo {
		margin: 0 auto 0;
		z-index: 1;
		@media (min-width: 641px) {
			margin: 40px auto 30px;
		}
		@include g.mq( pc ) {
			margin: 70px auto 100px;
		}
		.p-works-archive__header {
			width: 100%;
			height: auto;
			margin: 110px auto 70px;
			padding: 90px 0;
			background: url( ../images/photo/bg_wrap.jpg ) no-repeat center center;
			background-size: cover;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-flow: column;
			position: relative;
			@media (min-width: 641px) {
				width: 80%;
				min-height: 700px;
				margin-top: 0;
				padding: 90px;
			}
			@include g.mq( pc ) {
			}
			.inner {
				width: 90%;
				height: 80%;
				background-color: rgba( 0, 0, 0, .6 );
				display: flex;
				justify-content: center;
				align-items: center;
				flex-flow: column;
				position: absolute;
				@media (min-width: 641px) {
					width: 80%;
					height: 80%;
				}
				@include g.mq( pc ) {
					width: 70%;
					height: 70%;
				}
			}
			.headline {
				color: #fff;
				margin: auto;
				font-family: 'Meie Script', cursive;
				font-size: 14.0vw;
				text-align: center;
				left: auto;
				@media (min-width: 641px) {
					padding-right: 20px;
					font-size: 10vw;
				}
				@include g.mq( pc ) {
					font-size: 8vw;
				}
			}
			.description {
				font-family: Vollkorn;
				position: absolute;
				top: 130%;
				@media (min-width: 641px) {
					margin-right: 20px;
					color: #fff;
					top: 70%;
					left: 10%;
				}
				@include g.mq( pc ) {
					margin-right: inherit;
					bottom: -30px;
					top: 75%;
					left: 40%;
					white-space: nowrap;
				}
				.ttl {
					margin-bottom: 18px;
					font-weight: 600;
					// font-size: 3.0rem;
					@include g.font-rem( g.$font-size--Lv10 );
					@media (min-width: 641px) {
						font-size: 3.0vw;
					}
					@include g.mq( pc ) {
						font-size: 2.0vw;
					}
				}
				.data {
					margin: 0 0 18px 0;
					// font-size: 1.4rem;
					@include g.font-rem( g.$font-size--Lv2 );
					@media (min-width: 641px) {
						font-size: 1.4vw;
					}
					@include g.mq( pc ) {
						font-size: 1.0vw;
					}
				}
				.link {
					margin: 0;
					// font-size: 1.4rem;
					@include g.font-rem( g.$font-size--Lv2 );
					@media (min-width: 641px) {
						font-size: 1.4vw;
					}
					@include g.mq( pc ) {
						font-size: 1.0vw;
					}
				}
			}
		}
	}
	&--animation {
		padding: 70px 20px 90px;
		@media (min-width: 641px) {
			padding: 50px 0 100px;
		}
		@include g.mq( pc ) {
			padding: 50px 0 240px;
		}
		.p-works-archive__header {
			height: auto;
			margin: auto;
			@media (min-width: 641px) {
				width: 80%;
			}
			h2 {
				margin-left: -10px;
				// font-size: 6.0rem;
				@include g.font-rem( 60 );
				font-family: 'Meie Script', cursive;
				font-weight: 400;
				@media (min-width: 641px) {
					font-size: 10vw;
				}
			}
			.c-inner {
				width: 100%;
				margin: auto;
				display: block;
				padding: 0;
				@include g.mq( wide ) {
					width: 1080px;
				}
			}
			.description {
				position: static;
				@media (min-width: 641px) {
					width: 45%;
				}
				@include g.mq( pc ) {
					width: 100%;
				}
				.title {
					// font-size: 3.0rem;
					@include g.font-rem( g.$font-size--Lv10 );
					font-weight: bold;
					line-height: inherit;
					margin-bottom: 0;
					@media (min-width: 641px) {
						font-size: 3vw;
					}
					@include g.mq( pc ) {
						white-space: nowrap;
					}
					@include g.mq( wide ) {
						font-size: 2.4vw;
					}
				}
				.text {
					// font-size: 1.4rem;
					@include g.font-rem( g.$font-size--Lv2 );
				}
			}
		}
		&__items {
			margin-top: 20px;
			@media (min-width: 641px) {
				margin-top: 40px;
				display: flex;
				flex-wrap: wrap;
			}
			li {
				margin-bottom: 20px;
				@media (min-width: 641px) {
					width: 50%;
					height: 315px;
					margin-bottom: 0;
				}
				iframe {
					width: 100%;
					margin: 0;
					padding: 0;
				}
				&:nth-child( even ) {
					@media (min-width: 641px) {
						margin-top: -100px;
					}
				}
			}
		}
	}
	.p-form {
		padding-right: 20px;
		padding-left: 20px;
		@include g.mq( pc ) {
			padding-right: 0;
			padding-left: 0;
		}
		// font-family: '丸明オールドStdN', '砧 丸明オールド StdN';
	}
}