@use "../../foundation/global" as g;

.p-works-archive {
    // padding: 70px 20px 50px;
	// @include g.mq( tb ) {
	// 	padding: 50px 20px 50px;
	// }
	@include g.mq( pc ) {
		padding: 0 0 100px;
	}
    
    &__head {
        margin-bottom: 69px;
        @include g.mq( pc ) {
            margin-bottom: 108px;
        }
        .c-font--big {
            color: g.$fontcolor--base;
            line-height: 1.5;
        }
        &.c-decoration--wing-line--under::after {
            bottom: 0;
            @include g.mq( pc ) {
                bottom: -6px;
            }
        }
    }

    .headline {
		margin-left: -16px;
		font-size: 6.0rem;
		font-family: 'Meie Script', cursive;
		font-weight: 400;
		position: absolute;
		left: 0;
		@include g.mq( tb ) {
			font-size: 10vw;
		}
		@include g.mq( pc ) {
		}
		@include g.mq( wide ) {
		}
		span {
			margin-left: -10px;
			@include g.mq( pc ) {
				margin-left: -20px;
			}
			@include g.mq( wide ) {
			}
		}
	}
	&__header {
		height: 280px;
		margin-bottom: 20px;
		position: relative;
		@include g.mq( tb ) {
			height: 300px;
			margin-bottom: 0;
		}
		@include g.mq( pc ) {
			height: 400px;
		}
		@include g.mq( wide ) {
		}
		.description {
			top: 100px;
			right: 0;
			left: 0;
			position: absolute;
			font-family: 'Vollkorn', serif;
			@include g.mq( tb ) {
				width: 57%;
				top: 100px;
				left: inherit;
			}
			@include g.mq( pc ) {
				width: inherit;
				top: 150px;
				right: inherit;
				left: 55%;
			}
			@include g.mq( wide ) {
			}
			> .title {
				margin-bottom: 20px;
				font-size: 3.0rem;
				font-weight: bold;
				line-height: 1;
				@include g.mq( tb ) {
				}
				@include g.mq( pc ) {
					font-size: 3vw;
					white-space: nowrap;
				}
				@include g.mq( wide ) {
				}
			}
			> .text {
				font-size: 1.4rem;
				margin-left: 0;
				@include g.mq( tb ) {
				}
				@include g.mq( pc ) {
					font-size: 1vw;
					white-space: nowrap;
				}
				@include g.mq( wide ) {
				}
			}
		}
	}
	&--print {
		@extend .p-works-archive;
		padding: 10px 50px 50px;
		@include g.mq( tb ) {
		}
		@include g.mq( pc ) {
			padding: 10px 50px 100px;
		}
		.c-inner {
			width: auto;
			@include g.mq( wide ) {
				max-width: 1280px;
			}
		}
		.headline {
			font-size: 5.0rem;
			margin-left: 0;
			@include g.mq( tb ) {
				margin-left: 25px;
				font-size: 10vw;
			}
			@include g.mq( pc ) {
			}
			span {
				margin-left: -30px;
				@include g.mq( tb ) {
				}
			}
		}
		.p-works-archive__header {
			height: 190px;
			margin-bottom: 50px;
			@include g.mq( tb ) {
				margin-bottom: 80px;
				// height: 60vh;
			}
			@include g.mq( pc ) {
				height: 250px;
			}
			@include g.mq( full ) {
				margin-bottom: 160px;
			}
			.description {
				@include g.mq( tb ) {
					top: 150px;
				}
				@include g.mq( pc ) {
					top: 200px;
					left: 55%;
				}
				@include g.mq( full ) {
					top: 250px;
				}
				> .title {
					@include g.mq( pc ) {
						font-size: 2.5vw;
					}
				}
			}
		}
		.c-img-description__title {
			@include g.mq( tb ) {
				font-size: 1.2rem;
			}
		}
		.c-img-description__link {
			font-size: 1rem;
		}
	}
}