@use "../../foundation/global" as g;

.p-form {
	padding-bottom: 324px;
	@include g.mq( pc ) {
		padding-bottom: 245px;
	}
	&__head {
		margin-bottom: 80px;
		@include g.mq( pc ) {
			margin-bottom: 90px;
		}
	}
	&__sentence {
		padding-bottom: 56px;
		@include g.mq( pc ) {
			padding-bottom: 77px;
			max-width: 690px;
			margin: 0 auto;
		}
		&__text {
			margin-bottom: 39px;
			line-height: 2;
			@include g.mq( pc ) {
				margin-bottom: 40px;
				text-align: center;
			}
		}
	}
	&__inner {
		@include g.mq( pc ) {
			max-width: 750px;
			margin: 0 auto;
		}
		.wpcf7-form {
			dl {
				margin-bottom: 22px;
				dt {
					margin-bottom: 4px;
					label {
						position: relative;
						span { //「必須」表示
							@include g.font-rem( g.$font-size--Lv1 );
							color: g.$fontcolor--white;
							background-color: #E34C4C;
							border-radius: 3px;
							padding: 1px 2px 0 2px;
							position: absolute;
							right: -2.1rem;
							top: -1px;
						}
					}
				}
			}
			.wpcf7-form-control-wrap {
				.wpcf7-text,
				.wpcf7-textarea {
					border: 1px solid #E0C546;
					border-radius: 3px;
					width: 100%;
					height: 42px;
					@include g.mq( pc ) {
						max-width: 750px;
					}
					&::-webkit-input-placeholder {
						font-family: inherit; // 親要素を継承
						color: #9F9F9F;
					}
				}
				.wpcf7-text {
					padding: 0 14px;
				}
				.wpcf7-textarea {
					padding: 14px;
					height: 335px;
					font: inherit;
					resize: none;
				}
				.wpcf7-not-valid-tip {
					color: #E34C4C;
					margin-top: 2px;
				}
			}
			// textarea下のメッセージ位置のみ調整
			dl:last-of-type {
				.wpcf7-not-valid-tip {
					margin-top: -5px;
				}
			}
			// 送信ボタン
			.set-bt {
				text-align: center;
				@include g.mq( pc ) {
					padding-top: 38px;
				}
				input {
					cursor: pointer;
					width: 198px;
					height: 64px;
					border: none;
					@include g.font-rem( g.$font-size--Lv7 );
					color: g.$fontcolor--white;
				}
			}
		}
		// 送信失敗＆成功メッセージ
		.wpcf7-form.invalid,
		.wpcf7-form.sent {
			.wpcf7-response-output {
				background: g.$bgcolor--white;
				width: 100%;
				margin: 42px 0 0;
			}
		}
		// 送信成功は枠線の色を変更
		.wpcf7-form.sent {
			.wpcf7-response-output {
				border-color: #00AEBC;
			}
		}
		.wpcf7-spinner {
			display: none;
		}
	}
}



